{% extends "base.html" %}
{% block content %}
<div class="text-center py-5">
    <h2 class="mb-4">Preservar para las Futuras Generaciones</h2>
    <img src="{{ url_for('static', filename='images/futuro.jpg') }}" class="img-fluid rounded-pill mb-4 shadow" style="max-height: 300px;">
    <p class="mx-auto" style="max-width: 700px;">
        La sostenibilidad significa satisfacer nuestras necesidades actuales sin comprometer la capacidad de las generaciones futuras. Cada árbol plantado hoy es aire puro para el mañana.
    </p>
</div>
{% endblock %}